@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a {
    text-decoration: none;
    color: black
  }

:root {
    --color-white: #fff;
    --color-primary: #3498db;
    --color-secondary: #8A8A8A;
    --font-size-large: 24px;
    --font-size-medium: 14px;

}

h1 {
    font-size: var(--font-size-large);
    font-weight: 600;
}

h2 {
    font-size: var(--font-size-medium);
    font-weight: 500;
    color: var(--color-secondary);
}